
  <div class="top-page">
    <%=render "shared/header"%>
  </div>

  <div class="all__main">
      <P><%= link_to "スケジュールを登録する", "/profiles/#{@profile.id}/schedules/new", class: "schedule__new"%></p>

    <div class="schedule__main_back">
      <div class="schedule__main">
        <%= month_calendar events: @my_schedule do |date, my_schedule|%>
          <%= date.day %>

          <% my_schedule.each do |schedule| %>
            <div class="schdule__contents">
              <%=link_to "#{schedule.title}", "/profiles/#{@profile.id}/schedules/#{schedule.id}", class: "schedule__contens_font" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>


