  
  <div class="top-page">
    <%=render "shared/header"%>
  </div>

  <div class="all__main">
      <div>
        <%= form_with model: @schedule, url: profile_schedules_path, method: :post, class: "schedule__form", local: true do |f| %>
          <%= link_to "スケジュールにもどる", profile_schedules_path(@profile.id), class: "schedule__back" %>
          <div class="schedule__time"%>
            <%= "日付と時間"  %>
            <%= f.datetime_select :start_time %>
          </div>
          <ul class="schedule__form_main">
            <span>予定</span>
            <li><%= f.text_field :title, class: "schedule__title" %></li>
            <span>詳細</span>
            <li><%= f.text_area :plan, class: "schedule__plan" %></li>
            <li><%= f.submit '登録', class: "schedule__submit" %></li>
          </ul>
        <% end %>
      </div>
  </div>