
  <div class="top-page">  
    <%=render "shared/edit_header" %>
  </div>

  <div class="all__main">
    <%= form_with model: @dm, local: true do |f|%>
      <%# <input name="dm[user_ids][]" type="hidden" value=<%= @profile.user_id> %>
      <input name="dm[user_ids][]" type="hidden" value=<%= current_user.id %>>
      <%= f.submit "DMルーム（作成前）", class: :profile__btn %>
    <% end %>
  </div>




